/*============================================================================
  #General Variables
==============================================================================*/
// Timber Colors
$colorBody: {{ settings.color_body_bg }};
$colorBorder: {{ settings.color_borders }};
$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

/* Attempting to use existing settings */
/*$bodyFontStack:'{{settings.primary_font_family}}', {{settings.primary_font_family_style}};
$headerFontStack:'{{settings.header_font_family}}', {{settings.header_font_family_style}};
$accentFontStack: '{{settings.accent_font_family}}', {{settings.accent_font_family_style}};

h1, h2, h3, h4 {
  font-family: $headerFontStack;
  font-weight: normal;
  margin: 0 0 0.5em;
  line-height: 1.4;
}

  body,
  input,
  textarea,
  button,
  select {
    font-size: 16px;
    line-height: 1.6;
    font-family: $bodyFontStack;
    color: $colorBody;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

label {}
breadcrumb {
  font-size: 12px;
  line-height: 1.6;
  font-family: $bodyFontStack;
  color: $colorSecondary;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.btn {
  border-radius: none;
  font-family: $headerFontStack;
  font-weight: normal;
}
*/

// Sizes
$gutter: 30px;


@font-face {font-family: 'DidotLTStd-Italic';src: url('2FD36E_2_0.eot');src: url('2FD36E_2_0.eot?#iefix') format('embedded-opentype'),url('2FD36E_2_0.woff2') format('woff2'),url('2FD36E_2_0.woff') format('woff'),url('2FD36E_2_0.ttf') format('truetype');}

@font-face {font-family: 'Brandon-LightItalic';src: url('328290_0_0.eot');src: url('328290_0_0.eot?#iefix') format('embedded-opentype'),url('328290_0_0.woff2') format('woff2'),url('328290_0_0.woff') format('woff'),url('328290_0_0.ttf') format('truetype');}

@font-face {font-family: 'Brandon-Light';src: url('328290_1_0.eot');src: url('328290_1_0.eot?#iefix') format('embedded-opentype'),url('328290_1_0.woff2') format('woff2'),url('328290_1_0.woff') format('woff'),url('328290_1_0.ttf') format('truetype');}


@font-face {font-family: 'Brandon-Regular';src: url('328290_2_0.eot');src: url('328290_2_0.eot?#iefix') format('embedded-opentype'),url('328290_2_0.woff2') format('woff2'),url('328290_2_0.woff') format('woff'),url('328290_2_0.ttf') format('truetype');}


@font-face {font-family: 'Brandon-Medium';src: url('328290_3_0.eot');src: url('328290_3_0.eot?#iefix') format('embedded-opentype'),url('328290_3_0.woff2') format('woff2'),url('328290_3_0.woff') format('woff'),url('328290_3_0.ttf') format('truetype');}



h1, h2, h3, h4 {
  font-family: 'Brandon-Light';
  font-weight: normal;
  margin: 0 0 0.5em;
  line-height: 1.4;
  text-transform:uppercase;
}

.product__description__name, .product__description__variant, .product__description__property {
  font-family: 'Brandon-Light';
  text-transform:uppercase;
}

  body,
  input,
  textarea,
  select {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Brandon-Regular';
    color: #484848;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

label {}
breadcrumb {
  font-size: 12px;
  line-height: 1.6;
  font-family: 'Brandon-Regular';
  color: $colorSecondary;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.floating-labels .field__label {
/* 	font-family: 'Brandon-Light';
  text-transform:uppercase; */
}

.btn {
  border-radius: 0px;
  font-family: 'Brandon-Medium';
  font-weight: normal;
  text-transform:uppercase;
  padding: 11px 15px 6px;
  font-size:0.87778em;
  letter-spacing: .03em;
  height: 56px;

}

.field__input {
  border-radius:0px;
}

.section {
  padding-bottom:.5em;
}

.sidebar:after {
 background-color: #f6f6f6;
}

@media (min-width: 1000px) {
.main__header {
    padding-bottom: 1.8em;
}
}

@media (max-width: 999px){
  //display cart in checkout on mobile
  .order-summary--is-collapsed {
     height: auto;
  }
  .extra_message {
    margin: .5em 0;
  }
}

strong, b {
  font-weight:bold;
}
