/*================ #Links and Buttons ================*/
a {
  color: $color-text;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: $opacity-link-hover;
  }

  &.classic-link {
    text-decoration: underline;
  }
}

/*================ Buttons ================*/
.btn {
  @include user-select();
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $border-radius;
  padding: $input-padding-top-bottom-small $input-padding-left-right-small;
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  font-family: $font-stack-header;
  font-weight: $font-weight-header;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: $font-size-base - 2;

  @include media-query($medium-up) {
    padding: $input-padding-top-bottom $input-padding-left-right;
  }

  &:hover,
  &:focus {
    opacity: $opacity-link-hover;
  }

  .icon-arrow-right,
  .icon-arrow-left {
    height: 9px;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
    background-color: $color-btn-primary;
    color: $color-btn-primary-text;
  }
}

.btn--secondary {
  background-color: $color-small-button;
  color: $color-small-button-text;
  border-color: $color-border;
}

.btn--small {
  font-family: $font-stack-body;
  padding: 8px 10px;
  font-size: em(12);
  line-height: 1;
}

/*================ Button variations ================*/
@include media-query($small) {
  .btn--small-wide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.btn--link {
  background-color: transparent;
  border: 0;
  margin: 0;
  color: $color-text;
  text-align: left;

  &:hover,
  &:focus {
    opacity: $opacity-link-hover;
  }

  .icon {
    vertical-align: middle;
  }
}

.btn--narrow {
  padding-left: 15px;
  padding-right: 15px;
}

.btn--disabled {
  opacity: 0.5;
  cursor: default;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.btn--has-icon-after {
  .icon {
    margin-left: 10px;
  }
}

.btn--has-icon-before {
  .icon {
    margin-right: 10px;
  }
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

/*================ Return to collection/blog links ================*/
.return-link-wrapper {
  margin: ($gutter-site * 1.5) 0;

  @include media-query($small) {
    margin-bottom: (-$section-spacing) - 1; // same as .site-footer

    .btn {
      display: block;
    }
  }
}
