/*================ TEMPLATES ================*/
/*============= Templates | Password =============*/

.template-password {
  height: 100vh;
}

.password-page {
  display: table;
  height: 100%;
  width: 100%;
  color: $color-body-text;
  background-color: $color-body;
  background-size: cover;

  .ie9 & {
    height: auto;
  }

  .errors,
  .form--success {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.password-header {
  height: 85px;
  display: table-row;
}

.password-header__inner {
  display: table-cell;
  vertical-align: middle;
}

.password-login {
  padding: 0 30px;
  text-align: right;
}

.password-logo {
  .logo {
    color: $color-navigation-text;
    font-weight: 700;
    max-width: 100%;
  }
}

.password-main {
  display: table-row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.password-main__inner {
  display: table-cell;
  vertical-align: middle;
  padding: ($gutter-site / 2) $gutter-site;
}

.password-message {
  max-width: 500px;
  margin: ($gutter-site * 1.5) auto ($gutter-site / 2);
}

.password__input-group {
  max-width: 340px;
  margin: 0 auto $gutter-site;
}

.password__title {
  margin-bottom: $gutter-site * 1.5;
}

.password__form-heading {
  margin-bottom: $gutter-site;
}

.password-powered-by {
  margin-top: $gutter-site * 1.5;
}

h1.product-single__title {
  margin-bottom: 0;
}

.product-single__price {
  color: $color-body-text;
  font-size: em($font-size-base + 4);
  font-weight: $font-weight-header;
  margin-bottom: $grid-gutter;

  @include media-query($small) {
    display: block;
    font-size: em($font-size-base + 2);
  }
}

.product-single__vendor {
  color: $color-body-text;
  font-size: em($font-size-base);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0 10px;
}

/*================ Add to cart form ================*/
.product-form {
  @include display-flexbox();
  @include flex-wrap(wrap);
  @include align-items(flex-end);
  width: auto;
  margin: 0 -5px -10px;
}

.product-form__item {
  @include flex(1 1 200px);
  margin-bottom: 10px;
  padding: 0 5px;

  label {
    display: block;

    .product-form--hide-variant-labels & {
      // sass-lint:disable no-important
      position: absolute !important;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
  }
}

.product-form__variants {
  display: none;

  .no-js & {
    display: block;
  }
}

.product-form__item--quantity {
  @include flex(0 0 100px);
}

.product-form__item--submit {
  @include flex-basis(200px);
}

.product-form__input {
  display: block;
  width: 100%;
}

.product-form__cart-submit {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
}

@include media-query($medium-up) {
  .product-form__cart-submit--small {
    max-width: 300px;
  }
}

.product-single__description {
  margin-top: $grid-gutter;
}

/*================ Product Images ================*/
.product-single__thumbnail {
  display: block;
  margin: -2px 0 8px;
  border: 2px solid transparent;

  &.active-thumb {
    border-color: $color-text;
  }
}

.product-single__thumbnail-image {
  display: block;
}

.product-featured-img {
  display: block;
  margin: 0 auto;
}

// sass-lint:disable class-name-format
.zoomImg {
  background-color: $color-body;
}
// sass-lint:enable class-name-format

@include media-query ($medium-up) {
  .product-single__thumbnails {
    margin-top: $grid-gutter;
  }
}

@include media-query ($small) {
  .product-single__photos {
    margin-bottom: $grid-gutter;
  }
}

.product-single__photos--full {
  margin-bottom: $grid-gutter;
}

// Prevent reflow when image loads
.product-single__photo {
  min-height: 1px;
}

@include media-query($small) {
  .template-product .main-content {
    padding-top: $grid-gutter-mobile;
  }

  .thumbnails-slider--active {
    .product-single__thumbnails {
      display: none;

      &.slick-initialized,
      .ie9 & {
        display: block;
        margin: 0 auto;
        max-width: 75%;
      }
    }
  }

  .product-single__photos {
    position: relative;
  }

  .thumbnails-wrapper {
    position: relative;
  }

  .thumbnails-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .thumbnails-slider__prev {
    left: -20px;
  }

  .thumbnails-slider__next {
    right: -20px;
  }

  .product-single__thumbnails-item {
    padding-bottom: 10px;
    width: 50px;

    .thumbnails-slider--active & {
      padding: 5px 0;
    }
  }

  .product-single__thumbnail {
    margin: 0 auto;
    width: 50px;
  }
}

/*================ Template | Collections ================*/

// Collection Hero
//----------------------------------------
.collection-hero {
  position: relative;
  overflow: hidden;
  margin-top: -$gutter-site;
  margin-bottom: $gutter-site-mobile;

  @include media-query($medium-up) {
    margin-bottom: $section-spacing-small;
  }
}

.collection-description {
  margin-bottom: $gutter-site-mobile;
  margin-top: $gutter-site-mobile;

  @include media-query($medium-up) {
    margin-bottom: $section-spacing-small;
    margin-top: $section-spacing-small;
  }
}

.collection-hero__image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  opacity: 1;

  @include media-query($small) {
    height: 180px;
  }
}

.collection-hero__title-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-image-overlay;
  opacity: $opacity-image-overlay;
}

.collection-hero__title {
  position: absolute;
  color: $color-overlay-title-text;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  @include transform(translateY(-50%));

  @include media-query($medium-up) {
    font-size: em($font-size-header + 6);
  }
}

.template-blog .social-sharing {
  margin-bottom: $section-spacing-small / 2;
}

.blog--list-view .pagination {
  padding-top: 0;
}

/*================ Cart page ================*/
.cart {
  th,
  td {
    border: 0;
  }

  td {
    padding: $gutter-site-mobile 0;
  }

  th {
    font-weight: $font-weight-normal;
    padding: ($gutter-site / 2) 0;
  }

  .cart__meta {
    padding-right: 15px;
  }
}

.cart__meta-text {
  padding: 5px 0;
  font-size: em($font-size-base - 2);
  font-style: italic;
}

.cart__qty-label {
  @include visually-hidden();
}

.cart__qty-input {
  text-align: center;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;

  @include media-query($small) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.cart__edit {
  margin-top: 10px;
}

.cart__edit-text--cancel {
  .cart__edit--active & {
    display: none;
  }
}

.cart__edit-text--edit {
  display: none;

  .cart__edit--active & {
    display: block;
  }
}

.cart__edit-text--cancel,
.cart__edit-text--edit {
  pointer-events: none;
}

.cart__row {
  p {
    margin-bottom: 0;

    + p {
      margin-top: 10px;
    }
  }
}

.cart__subtotal-title {
  font-size: em($font-size-base + 2px);
}

.cart__subtotal {
  padding-left: $gutter-site / 2;

  @include media-query($medium-up) {
    padding-left: $gutter-site;
    min-width: 150px;
    display: inline-block;
  }
}

.cart__savings {
  padding-top: 18px;
}

.cart__savings-amount {
  padding-left: $gutter-site / 2;

  @include media-query($medium-up) {
    padding-left: $gutter-site;
    min-width: 150px;
    display: inline-block;
  }
}

.cart__footer {
  padding-top: $section-spacing-small;
}

.cart__update--large {
  margin-right: 10px;
}

.cart__shipping {
  font-style: italic;
  font-size: em($font-size-base - 2);
  padding: 18px 0 20px;
}

.cart-note__label,
.cart-note__input {
  display: block;

  @include media-query($small) {
    margin: 0 auto;
  }
}

.cart-note__label {
  margin-bottom: 15px;
}

.cart-note__input {
  min-height: 50px;
  width: 100%;

  @include media-query($small) {
    margin-bottom: 40px;
  }
}

.cart__image-wrapper a {
  display: block;
  padding-right: $section-spacing-small / 2;

  @include media-query($medium-up) {
    padding-right: $section-spacing-small;
  }
}

@include media-query($medium-up) {
  .cart__image-wrapper {
    width: 130px;
  }

  .cart__meta {
    max-width: 300px;
  }

  .cart__remove {
    margin-top: 4px;
  }

  .cart__qty {
    text-align: center;
  }
}

@include media-query($small) {
  .cart {
    table {
      display: block;
      width: 100%;
    }

    thead {
      display: none;
    }

    tr,
    tbody {
      width: 100%;
    }

    tbody {
      display: block;
    }

    .cart__update-wrapper {
      display: none;
      padding-top: 0;
      padding-bottom: $gutter-site-mobile;
    }
  }

  .cart__update--show {
    td {
      padding-bottom: 10px;
    }

    .cart__update-wrapper {
      @include display-flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
    }
  }

  .cart-flex {
    @include display-flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
  }

  .cart-flex-item {
    display: block;
    min-width: 0;
    @include flex(1 1 100%);
  }

  .cart__meta {
    @include flex(1 1 0%);
  }

  .cart__image-wrapper {
    @include flex(0 0 85px);
  }

  .cart__price-wrapper {
    @include flex(0 1 24%);
    text-align: right;
  }

  .cart__header {
    @include visually-hidden();
  }

  .cart-message {
    padding-top: 20px;
  }

  .cart__qty {
    padding: 0 10px;
  }

  .cart__qty-label {
    @include visually-shown();
    display: inline-block;
    vertical-align: middle;
    font-size: em(13);
    margin-right: 5px;
  }
}

.additional-checkout-buttons {
  margin-top: $gutter-site-mobile;

  // reset for paypal button
  input[type="image"] {
    padding: 0;
    border: 0;
    background: transparent;
  }
}


/*================ MODULES ================*/
.site-header {
  background-color: $color-body;
  position: relative;
  padding: 0 $gutter-site;

  @include media-query($small) {
    border-bottom: 1px solid $color-border;
    padding: 0;
  }

  @include media-query($medium-up) {
    &.logo--center {
      padding-top: $grid-gutter;
    }
  }
}

.site-header__logo {
  margin: 15px 0;

  .logo-align--center & {
    text-align: center;
    margin: 0 auto;

    @include media-query($small) {
      text-align: left;
      margin: 15px 0;
    }
  }
}

.site-header__logo-link {
  display: inline-block;
  word-break: break-word;
}

.site-header__logo-image {
  display: block;

  @include media-query($medium-up) {
    margin: 0 auto;
  }
}

.site-header__logo-image--centered img {
  margin: 0 auto;
}

@include media-query($medium-up) {
  .logo-align--center .site-header__logo-link {
    margin: 0 auto;
  }
}

@include media-query($small) {
  .site-header__icons {
    .btn--link,
    .site-header__cart {
      font-size: em($font-size-base);
    }
  }
}

.site-header__icons {
  position: relative;
  white-space: nowrap;
}

.site-header__icons-wrapper {
  position: relative;
  margin-right: -10px;
}

.site-header__cart,
.site-header__search {
  position: relative;

  .icon-cart,
  .icon-search {
    vertical-align: middle;
  }
}

.site-header__search {
  padding-right: 45px;
}

@include media-query($medium-up) {
  .site-header__cart {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 8px 0;
    @include transform(translateY(-50%));
  }
}

.site-header__cart-title,
.site-header__search-title {
  display: inline-block;
  vertical-align: middle;

  @include visually-hidden();
}

.site-header__cart-title {
  margin-right: 3px;
}

.site-header__cart-count {
  display: block;
  position: absolute;
  top: -1px;
  font-weight: bold;
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  border-radius: 9px;
  min-width: 16px;
  height: 16px;

  span {
    font-family: $font-stack-cart-notification;
    display: block;
    padding: 2px 5px;
    font-size: 11px;
    line-height: 1;
  }

  @include media-query($medium-up) {
    .logo--center & {
      right: -2px;
    }

    .logo--left & {
      left: 12px;
      top: 4px;
    }
  }
}

@include media-query($small) {
  .site-header__cart-count {
    top: 14px;
    left: 22px;
    border-radius: 11px;
    min-width: 19px;
    height: 19px;

    span {
      padding: 4px 6px;
      font-size: 12px;
    }
  }
}


.site-header__menu {
  display: none;
}

.site-header .icon-search,
.site-header .icon-hamburger,
.site-header .icon-close,
.site-header .icon-cart {
  height: 30px;

  @include media-query($medium-up) {
    margin-right: 3px;
  }
}


@include media-query($small) {
  .site-header__logo {
    padding-left: $gutter-site-mobile;
  }

  .site-header__icons {
    padding-right: $gutter-site-mobile;
  }

  .site-header__menu,
  .site-header__search-toggle,
  .site-header__cart {
    display: inline-block;
    vertical-align: middle;
    padding: 18px 10px;
    margin: 0;
  }

  .site-header__logo {
    text-align: left;

    img {
      margin: 0;
    }
  }
}

.notification-bar {
  text-align: center;
  position: relative;
  z-index: $z-index-notification-bar;
}

.notification-bar__message {
  display: block;
  font-size: em(16);
  font-weight: $font-weight-header;
  padding: 10px $gutter-site-mobile;

  @include media-query($medium-up) {
    padding: 10px $gutter-site;
  }
}

.article--listing {
  padding-top: $gutter-site;
  margin-bottom: $gutter-site;
}

.article__title {
  margin-bottom: $gutter-site-mobile / 2;
}

.article__author {
  margin-right: 10px;
}

.article__author,
.article__date {
  display: inline-block;
  margin-bottom: $gutter-site-mobile;

  .template-article & {
    margin-bottom: 0;
  }
}

.article__tags {
  margin-bottom: $section-spacing / 2;
}

.article__tags--list {
  font-style: italic;
}
