.search-bar__form {
  display: table;
  width: 100%;
  position: relative;
  height: 40px;
  border: 1px solid transparent;
}

@include media-query($small) {
  .search-bar__form {
    width: 100%;
  }
}

.search-bar__submit .icon {
  position: relative;
  top: -1px;
  height: 30px;
}

.search-bar__submit,
.search-header__submit {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0 0 5px;
  height: 100%;
  z-index: 1;
}

.search-header__input,
.search-bar__input {
  background-color: transparent;
  border-radius: $border-radius;
  color: $color-text;
  border-color: transparent;
  padding-left: 35px;
  width: 100%;

  &::-webkit-input-placeholder {
    @include placeholder-text($color-text);
  }

  &::-moz-placeholder {
    @include placeholder-text($color-text);
  }

  &:-ms-input-placeholder {
    @include placeholder-text($color-text, 0);
  }

  &::-ms-input-placeholder {
    @include placeholder-text($color-text, 1);
  }
}

.search-bar__input {
  border: 1px solid transparent;

  &:focus {
    border-color: transparent;
  }
}

/*============================================================================
  The search submit button has pointer-events: none which also
  effects the :hover style. This forces the style to be applied.
==============================================================================*/
.search-header__input:hover + .btn--link {
  opacity: $opacity-link-hover;
}

/*================ Mobile Search Bar ================*/

.search-bar {
  border-bottom: 1px solid $color-border;
  padding: 0 ($gutter-site / 2);
}

.search-bar__table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.search-bar__table-cell {
  display: table-cell;
  vertical-align: middle;
}

.search-bar__form-wrapper {
  width: 90%;
}

/*================ Header Search ================*/
.search-header {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 30px;
  vertical-align: middle;

  &.search--focus {
    max-width: 250px;
  }
}

.search-header__input {
  cursor: pointer;
}

.search--focus {
  .search-header__input {
    outline: none;
    border-color: $color-border;
    cursor: auto;
  }

  .search-header__submit {
    padding-left: 10px;
    pointer-events: auto;
  }
}

.search-header__submit {
  pointer-events: none;
}

.search-header,
.search-header__submit {
  transition: all 0.35s cubic-bezier(0.29, 0.63, 0.44, 1);
}

.no-svg {
  .site-header__search {
    display: inline-block;
  }

  .search-header {
    max-width: none;
  }

  .search__input {
    width: auto;
    padding-left: 60px;
  }
}
