/*================ Module | Filters and Sort toolbar and selection ================*/
$toolbar-height: 55px;
$toolbar-height-small: 46px;

.filters-toolbar-wrapper {
  border-bottom: 1px solid $color-border;
  border-top: 1px solid $color-border;
  margin-bottom: $gutter-site-mobile;

  @include media-query($medium-up) {
    margin-bottom: $section-spacing;
  }
}

.filters-toolbar {
  @include display-flexbox();
  @include align-items(center);
}

.filters-toolbar__item {
  min-width: 33%;
  @include flex(1 1 33%);

  .no-flexbox & {
    // sass-lint:disable no-important
    text-align: left !important;
  }
}

.filters-toolbar__item--count {
  min-width: 0;
  @include flex(0 1 auto);
  text-align: center;
}

.no-flexbox .filters-toolbar select {
  // sass-lint:disable no-important
  width: 100% !important; // override inline styles
}

.filters-toolbar__input {
  @include transition(all ease-out 0.15s);
  background-color: $color-body;
  border: 0 solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  height: $toolbar-height;
  opacity: 1;

  @include media-query($small) {
    height: $toolbar-height-small;
  }

  &.hidden {
    opacity: 0;
  }

  option {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.filters-toolbar__input--sort {
  margin-right: -10px;

  .no-flexbox & {
    margin: 0;
  }
}

.filters-toolbar__input--filter {
  margin-left: -15px;

  .no-flexbox & {
    margin: 0;
  }
}

.filters-toolbar__product-count {
  font-size: em($font-size-base - 1px);
  font-style: italic;
  line-height: $toolbar-height;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include media-query($small) {
    font-size: em($font-size-base - 2px);
    line-height: $toolbar-height-small;
  }
}

.site-footer {
  margin: $section-spacing 0;

  @include media-query($small) {
    text-align: center;
  }
}

@include media-query($medium-up) {
  .site-footer__linklist--center {
    margin-top: $section-spacing-small;
    padding-right: 0;
  }
}

.site-footer__linklist,
.site-footer__newsletter {
  margin-top: $section-spacing-small;

  @include media-query($medium-up) {
    margin-top: $section-spacing;
  }
}

.site-footer__linklist-item {
  display: inline-block;
  padding: 5px 10px;

  @include media-query($medium-up) {
    display: block;
    padding: 0 20px 6px 0;

    .site-footer__linklist--center & {
      display: inline-block;
      padding: 3px 10px;
    }
  }
}

.site-footer__newsletter {
  margin: $section-spacing-small auto 0;
  max-width: 320px;

  @include media-query($medium-up) {
    margin: $section-spacing 0 0;
    max-width: none;
  }
}

.site-footer__social-icons,
.site-footer__copyright {
  margin-top: $section-spacing-small;

  @include media-query($medium-up) {
    margin-top: $section-spacing;
  }
}

.social-icons__link {
  display: block;
  padding: 0 3px;

  &:first-child {
    margin-left: 0;
  }
}

.site-footer__copyright {
  text-align: center;
}

.site-footer__copyright-content {
  font-size: em($font-size-base - 3);
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }

  .site-footer__copyright--right & {
    padding: 0 0 0 20px;

    &:first-child {
      padding-left: 0;
    }

    @include media-query($medium-up) {
      padding: 0 0 0 30px;
    }
  }
}

.site-footer__payment-icons {
  margin-top: ($gutter-site-mobile);

  @include media-query($medium-up) {
    margin-top: $gutter-site-mobile;

    .site-footer__copyright--right & {
      padding-left: 30px;
    }
  }

  .payment-icon {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-footer__copyright--bottom {
  margin-top: $section-spacing-small;
}

@include media-query($medium-up) {
  .site-footer__payment-icons--right {
    float: right;
    margin-top: 0;
  }
}

.feature-row {
  @include display-flexbox();
  @include justify-content(space-between);
  @include align-items(center);

  @include media-query($small) {
    @include flex-direction(column);
  }
}

.feature-row__item {
  @include flex(0 1 50%);

  @include media-query($small) {
    @include flex(1 1 auto);
    max-width: 100%;
  }
}

.feature-row__image {
  display: block;
  margin: 0 auto;

  @include media-query($small) {
    order: 1;
  }
}

.feature-row__text {
  padding-top: $section-spacing-small;
  padding-bottom: $section-spacing-small;

  @include media-query($small) {
    order: 2;
    padding-bottom: 0; // always last element on mobile
  }
}

@include media-query($medium-up) {
  .feature-row__text--left {
    padding-left: $section-spacing-small;
  }

  .feature-row__text--right {
    padding-right: $section-spacing-small;
  }
}

@include media-query($medium-up) {
  .featured-row__subtext {
    font-size: em($font-size-base + 2);
  }
}

.hero {
  position: relative;
  height: 475px;
  display: table;
  width: 100%;
  background: {
    size: cover;
    repeat: no-repeat;
    position: 50% 50%;
  }
}

.hero--x-small {
  height: 94px;
}

.hero--small {
  height: 225px;
}

.hero--medium {
  height: 357px;
}

.hero--large {
  height: 488px;
}

.hero--x-large {
  height: 582px;
}

@include media-query($medium-up) {
  .hero--x-small {
    height: 125px;
  }

  .hero--small {
    height: 300px;
  }

  .hero--medium {
    height: 475px;
  }

  .hero--large {
    height: 650px;
  }

  .hero--x-large {
    height: 775px;
  }
}

.hero__overlay {
  @include overlay(1);
}

.hero__inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: $section-spacing 0;
  color: $color-overlay-title-text;
  z-index: 2;
}

.hero__btn {
  background-color: $color-background-hero-button;
  color: $color-text-hero-button;
  margin-top: $section-spacing / 2;
}

/*================ Quote slider ================*/
.quote-icon {
  display: block;
  margin: 0 auto 20px;
}

// Text styles
.quotes-slider__text {
  font-size: em($font-size-base + 1.75);
  font-weight: $font-weight-normal;
  font-style: normal;
  padding: 0 ($grid-gutter / 2);

  cite {
    font-size: em($font-size-base, $font-size-base + 4);
    font-style: normal;
  }

  p {
    margin-bottom: $grid-gutter;

    + cite {
      margin-top: 0;
    }
  }
}

// Slick overrides
.quotes-slider.slick-initialized {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

// Slick dot positioning and color
.quotes-wrapper .slick-dots {
  position: relative;
  bottom: 0;
  margin-top: $section-spacing;

  // sass-lint:disable SelectorDepth
  li button::before {
    color: $color-text;
    opacity: 0.2;
  }
}

// Slick selected outline overrides
.quotes-wrapper .slick-slide[tabindex="0"] {
  outline: none;
}

.logo-bar {
  text-align: center;
  margin-bottom: -$section-spacing-small;
}

@include media-query($medium-up) {
  .logo-bar--large {
    margin-bottom: -$section-spacing;
  }
}

.logo-bar__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 160px;
  margin: 0 ($section-spacing / 2) $section-spacing-small;
}

@include media-query($medium-up) {
  .logo-bar__item--large {
    margin-bottom: $section-spacing;
  }
}

.logo-bar__image {
  display: block;
  margin: 0 auto;
}

.logo-bar__link {
  display: block;
}

.map-section {
  position: relative;
  height: 650px;
  width: 100%;
  overflow: hidden;

  @include media-query($medium-up) {
    height: 500px;
  }

  .page-width {
    height: 100%;
  }
}

.map-section--load-error {
  height: auto;
}

.map-section__overlay-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
}

.map-section__overlay {
  position: relative;
  display: inline-block;
  background-color: $color-bg;
  padding: $section-spacing-small;
  margin-top: $gutter-site-mobile;
  width: 100%;
  text-align: center;
  z-index: 3;

  @include media-query($medium-up) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: percentage(1 / 3);

    .ie9 & {
      top: 10%;
    }
  }

  .map-section--load-error & {
    position: static;
    transform: translateY(0);
  }
}

.map-section__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

// Optically center map in visible area with
// extended height/widths and negative margins
.map-section__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  margin-bottom: -50%;

  @include media-query($medium-up) {
    width: 130%;
    height: 100%;
    margin: 0 -30% 0 0;
  }
}

// Hide Google maps UI
.gm-style-cc,
.gm-style-cc + div {
  visibility: hidden;
}

@include media-query($small) {
  .image-bar {
    max-width: 400px;
    margin: 0 auto;
  }
}

.image-bar__item {
  display: block;
  color: $color-overlay-title-text;
  background: {
    repeat: no-repeat;
    position: 50% 50%;
    size: cover;
  }
}


.image-bar__link {
  &:focus {
    .image-bar__content {
      border-color: $color-image-overlay;
    }
  }
}

.image-bar__content {
  position: relative;
  width: 100%;

  .image-bar--x-small & {
    height: 94px;
  }

  .image-bar--small & {
    height: 225px;
  }

  .image-bar--medium & {
    height: 357px;
  }

  .image-bar--large & {
    height: 488px;
  }

  .image-bar--x-large & {
    height: 582px;
  }

  @include media-query($medium-up) {
    .image-bar--x-small & {
      height: 125px;
    }

    .image-bar--small & {
      height: 300px;
    }

    .image-bar--medium & {
      height: 475px;
    }

    .image-bar--large & {
      height: 650px;
    }

    .image-bar--x-large & {
      height: 775px;
    }
  }
}

.image-bar__overlay {
  @include overlay;
}

.image-bar__caption {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  transition: $transition-link-hover;
  width: 100%;
  text-align: center;
}

.collection-grid {
  margin-bottom: -$gutter-site-mobile;
  overflow: auto;
}

.collection-grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: $gutter-site-mobile;

  @include media-query($medium-up) {
    margin-bottom: $grid-gutter;
  }
}

.collection-grid-item__title {
  color: $color-overlay-title-text;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  padding: 0 5px;
  @include transform(translateY(-50%));
  transition: $transition-link-hover;
  text-shadow: 0 0 15px $color-text-shadow;

  @if $font-bold-titles {
    font-weight: $font-weight-bold;
  }

  @include media-query($medium-up) {
    padding: 0 15px;
  }
}

.collection-grid-item__link {
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:focus {
    border-color: $color-image-overlay;
  }
}

.collection-grid-item__overlay {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

}

.collection-grid-item__title-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-image-overlay;
  opacity: $opacity-image-overlay;
}

.custom-content {
  @include display-flexbox;
  @include align-items(stretch);
  @include flex-wrap(wrap);
  width: auto;
  margin-bottom: -$grid-gutter;
  margin-left: -$grid-gutter;

  @include media-query($small) {
    margin-bottom: -$grid-gutter-mobile;
    margin-left: -$grid-gutter-mobile;
  }
}

.custom__item {
  @include flex(0 0 auto);
  margin-bottom: $grid-gutter;
  padding-left: $grid-gutter;
  max-width: 100%;

  @include media-query($small) {
    @include flex(0 0 auto);
    padding-left: $grid-gutter-mobile;
    margin-bottom: $grid-gutter-mobile;

    &.small--one-half {
      @include flex(1 0 50%);
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .collection-grid-item {
    margin-bottom: 0;
  }
}

.custom__item-inner {
  position: relative;
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.custom__item-inner--video,
.custom__item-inner--collection,
.custom__item-inner--html {
  display: block;
}
