.gicon-bag { background-image: url('../assets/bag.png'); background-repeat: no-repeat; }

.gicon-carousel-arrow-left { background-image: url('../assets/carousel-arrow-left.png'); background-repeat: no-repeat; }

.gicon-carousel-arrow-right { background-image: url('../assets/carousel-arrow-right.png'); background-repeat: no-repeat; }

.gicon-close { background-image: url('../assets/close.png'); background-repeat: no-repeat; }

.gicon-loading { background-image: url('../assets/loading.png'); background-repeat: no-repeat; }

.gicon-menu { background-image: url('../assets/menu.png'); background-repeat: no-repeat; }

.gicon-search { background-image: url('../assets/search.png'); background-repeat: no-repeat; }

.gicon-slick { background-image: url('../assets/slick.png'); background-repeat: no-repeat; }

.gicon-social-facebook { background-image: url('../assets/social-facebook.png'); background-repeat: no-repeat; }

.gicon-social-instagram { background-image: url('../assets/social-instagram.png'); background-repeat: no-repeat; }

.gicon-social-pinterest { background-image: url('../assets/social-pinterest.png'); background-repeat: no-repeat; }

.gicon-soldout { background-image: url('../assets/soldout.png'); background-repeat: no-repeat; }

.gicon-tail-spin { background-image: url('../assets/tail-spin.png'); background-repeat: no-repeat; }

.gicon-up-arrow { background-image: url('../assets/up-arrow.png'); background-repeat: no-repeat; }

